@media only screen and (max-width: 600px) {
  header {
    padding: 2em;
  }

  .word-mark {
    width: 80px;
  }

  h3 {
    font-size: 1.4em;
  }

  .title {
    padding-bottom: 40%;
  }

  .user-details {
    flex-direction: column;
    width: 80vw;
    max-width: 50em;
  }

  .breakdown {
    padding: 32px;
  }

  .split-image img {
    max-width: 140px;
  }

  .floaty {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1500px) {
  .image {
    width: 60%;
  }

  .image-1 {
    margin-left: 20%;
  }

  .image-2 {
    margin-left: 30%;
  }

  .image-3 {
    background-color: #f7decc;
    margin-left: 15%;
  }

  .image-4 {
    margin-left: 25%;
  }

  .image-5 {
    margin-left: 25%;
  }

  .image-6 {
    margin-left: 20%;
  }

  .image-7 {
    margin-left: 8%;
  }

  .image-8 {
    margin-left: 25%;
  }

  .image-9 {
    margin-left: 0%;
  }

  .image-10 {
    margin-left: 17%;
  }
}
